.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

.LandingSecondLayer {
  display: flex;
  height: 550px;
  width: 100%;
}

.SecondLayerLeft {
  flex: 1;
}

.SecondLayerRight {
  flex: 1;
}

.SecondLayerText {
  position: relative;
  left: 25%;
  top: 40%;
  text-align: center;
  width: 50%;
}

.subheading-text {
  font-family: "Abel", sans-serif;
  font-weight: 100;
  /* text-decoration: none; */
  color: black;
  font-size: 15px;
  line-height: 2em;
  letter-spacing: .03rem;
}

.heading-text {
  font-family: "Abel", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.SecondlayerImages{
  height: 550px;
}